---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: default-route-config
spec: 
  config: '{
            "cniVersion": "{{ CNI_VERSION }}",
            "plugins": [
                {
                    "type": "macvlan",
                    "master": "{{ MACVLAN_MASTER_INTERFACE }}",
                    "mode": "bridge",
                    "ipam": {
                        "type": "static"
                    }
                } ]
        }'
---
apiVersion: v1
kind: Pod
metadata:
  name: default-route-worker1
  annotations:
    k8s.v1.cni.cncf.io/networks: '[
            { "name": "default-route-config",
              "ips": [ "10.1.1.21/24" ] ,
              "default-route": [ "10.1.1.254" ] }
    ]'
  labels:
    app: default-route1
spec:
  containers:
  - name: default-route-worker1
    image: {{ E2E_POD_IMAGE }}
    command:
    - /bin/bash
    - -lc
    - |
      set -euxo pipefail
      if ! command -v ip >/dev/null 2>&1; then
        if command -v dnf >/dev/null 2>&1; then
          dnf install -y iproute
        else
          microdnf install -y iproute
        fi
      fi
      trap : TERM INT
      sleep infinity & wait
    securityContext:
      privileged: true
  nodeName: {{ TARGET_NODE_1 }}
---
apiVersion: v1
kind: Pod
metadata:
  name: default-route-worker2
  annotations:
    k8s.v1.cni.cncf.io/networks: '[
            { "name": "default-route-config", 
              "ips": [ "10.1.1.22/24" ] }
    ]'
  labels:
    app: default-route1
spec:
  containers:
  - name: default-route-worker2
    image: {{ E2E_POD_IMAGE }}
    command:
    - /bin/bash
    - -lc
    - |
      set -euxo pipefail
      if ! command -v ip >/dev/null 2>&1; then
        if command -v dnf >/dev/null 2>&1; then
          dnf install -y iproute
        else
          microdnf install -y iproute
        fi
      fi
      trap : TERM INT
      sleep infinity & wait
    securityContext:
      privileged: true
  nodeName: {{ TARGET_NODE_2 }}
