---
apiVersion: v1
kind: Pod
metadata:
  name: simple-centos1
  annotations:
  labels:
    app: simple
spec:
  containers:
  - name: simple-centos1
    image: {{ E2E_POD_IMAGE }}
    command:
    - /bin/bash
    - -lc
    - |
      set -euxo pipefail
      trap : TERM INT
      sleep infinity & wait
    securityContext:
      privileged: true
