apiVersion: v1
kind: Pod
metadata:
  name: sysctl-modified
spec:
  containers:
  - name: sysctl
    image: {{ E2E_POD_IMAGE }}
    command:
    - /bin/bash
    - -lc
    - |
      set -euxo pipefail
      if ! command -v sysctl >/dev/null 2>&1; then
        if command -v dnf >/dev/null 2>&1; then
          dnf install -y procps-ng
        else
          microdnf install -y procps-ng
        fi
      fi
      trap : TERM INT
      sleep infinity & wait
    securityContext:
      privileged: true
